.header{
    margin: auto 0px;
    position: fixed;
    min-width: 2560px;
    min-height: 150px;
    background: url(../../Imeg/imegTop.png) 100%/cover no-repeat;
    top: 0;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    overflow:hidden;
  
}

.contbutton{
    position:relative;
    margin-top: 50px;
    margin-right: 10px;
    
}
  

@media (max-width: 768px) {
    .header{
        height: 150px;
        z-index: 51;
    }
    .contbutton{
        position:fixed;
        right: 20px;
        
    }
}