

.header{
    position:  fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #585151;
    
    
    
    
}
.header:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.container{
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
    border: rgb(130, 0, 124) solid;
    border-radius: 5px;
    
        
}

.imgbackroundblock{
    
    position: relative;
    max-height: 150px;
    max-width: 100%;
    overflow: hidden;
    z-index: 51;
}

.imgbackroundblock img{
    
    height: 100%;
    width: 100%;
    object-position: cover;
    object-position:bottom;
}

.container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #585151;
    z-index: 3;
}
.burger{
    
    display: none;       
}



.bodylogo{
    flex: 0 0 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;

}
.logo{
    max-width: 100%;
    display: block;
}

.headermenu{
    display: flex;
    list-style: none;
    position: relative;
    z-index: 3;
}
.headerlink{
    padding: 23px 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    margin:  0px 10px 0px 0px;
   
    
}
.headerlink:hover {
    
    background-color: rgb(130, 0, 124);
    transition: 250ms;
}
.burger_active{
    display: none;
}



@media (max-width: 767px) {
    .body{
        height: 50px;
    }
    .bodylogo{
        flex: 0 0 40px;
    }
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        transition: all 0.3sec ease 0s;
    }
   
    
    
    .burger:before,
    .burger:after{

        content: '';
        background-color: cornsilk;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3sec ease 0s;

    }
    .burger:before{
        top: 0;
    }
    .burger:after{
        bottom: 0;
    }
    .burger span {
        position: absolute;
        background-color: cornsilk;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3sec ease 0s;
    }
    .headermenu{
        position: fixed;
        top: -100%;
        left: 0;
        overflow: auto;
        width: 100%; 
        height: 100%; 
        background: rgba(138, 62, 62, 0.671);
        padding: 30px 10px 20px 10px;
        z-index: 2;
    }
    .headermenu_active{
        padding: 200px 10px 20px 10px;
        top:0px;
        display: block;
    }
    .headerlink{
        display: flex;
        position: relative;
        z-index: 2;
        margin:  20px 20px 0px 0px;
    }
    .burger_active:before{
        
        transform: rotate(45deg);
        top: 10px;
       
    }
    .burger_active:after{
        
        transform: rotate(-45deg);
        bottom: 10px;
        
    }
    .burger_active span {
        
        transform: scale(0);
    }
    
}

